$primary: #aea9cb;
$secondary: #443e6f;
$accent: #533fd5;
$background: #0a0a0f;
$color: #e5e4ec;

.main {
  width: calc(100% - 32px);
  padding-inline: 16px;
  padding-top: 16px;
  padding-bottom: 34px;
  height: calc(100svh - 50px);
  overflow: hidden !important;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  background: $color;
  background: linear-gradient(0deg, $color 0%, $accent 50%, $background 100%);
  position: fixed;
}

.title {
  text-align: center;
  line-height: 1.1;
  font-weight: 900;
  font-size: 75px;
  color: $color;
  margin-top: 12px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 48px;
}

.button {
  width: calc(100% - 36px);
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  background-color: $color;
  padding: 18px;
  border-radius: 12px;
}

.buttonText {
  color: $color;
  font-weight: 800;
  font-size: 18px;
}

.orText {
  font-weight: 600;
  color: $background;
  margin-bottom: 12px;
}
