$primary: #aea9cb;
$secondary: #443e6f;
$accent: #533fd5;
$background: #0a0a0f;
$color: #e5e4ec;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: $color;
  background-color: $background;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.specialText {
  color: $primary;
}

::-moz-selection {
  color: $color;
  background: $secondary;
}

::selection {
  color: $color;
  background: $secondary;
}
