$primary: #aea9cb;
$secondary: #443e6f;
$accent: #533fd5;
$background: #0a0a0f;
$color: #e5e4ec;

.main {
  width: calc(100% - 32px);
  padding-inline: 16px;
  padding-top: 16px;
  padding-bottom: 35px;
  min-height: calc(100svh - 50px);
  height: fit-content;
  overflow: hidden !important;
  position: fixed;

  display: flex;
  flex-direction: column;
}

.titleContainer {
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.content {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inlineContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.topContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}

.button {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $color;
  border: 3.2px solid $color;
  padding-inline: 24px;
  padding-block: 12px;
  border-radius: 12px;
}

.buttonText {
  color: $background;
  font-weight: 800;
  text-align: center;
}

.chipContainer,
.buttonContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.chip {
  border: 3.2px solid $color;
  padding-inline: 24px;
  padding-block: 12px;
  border-radius: 12px;
  color: $color;
}

.selectedChip {
  background-color: $color;
  color: $background;
}

.chipText {
  font-weight: 800;
  text-align: center;
}

.formInput {
  width: calc(100% - 36px);
  padding: 18px;
  border-radius: 12px;
  background-color: $color;
  font-size: medium;
  font-weight: 600;
  outline: none;
  border: 0px;
  color: $background;
}

.select {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: $background;
  font-size: medium;
  font-weight: 600;
  padding-inline: 18px;
  margin: 0px;
}

.submitButton {
  width: calc(100% - 24px);
  padding-block: 18px;
  padding-inline: 12px;
  border-radius: 12px;
  background-color: $accent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitButtonText {
  font-size: large;
  font-weight: 900;
}
