$primary: #aea9cb;
$secondary: #443e6f;
$accent: #533fd5;
$background: #0a0a0f;
$color: #e5e4ec;

.main {
  width: calc(100% - 32px);
  padding-inline: 16px;
  padding-top: 16px;
  padding-bottom: 35px;
  min-height: calc(100svh - 50px);
  height: fit-content;
  overflow: hidden !important;
  position: fixed;

  display: flex;
  flex-direction: column;
}

.titleContainer {
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.content {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}

.formInput {
  width: calc(100% - 36px);
  padding: 18px;
  padding-block: 16px;
  border-radius: 12px;
  background-color: $color;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  border: 0px;
  color: $background;
}

.submitButton {
  width: 100%;
  padding-block: 16px;
  border-radius: 12px;
  background-color: $accent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitButtonText {
  color: $color;
  font-weight: 900;
  font-size: 16px;
  text-align: center;
}

.explainText {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.8;
  opacity: 0.5;
}

.select {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: $background;
  font-size: 16px;
  font-weight: 600;
  padding-inline: 18px;
  margin: 0px;
}

.footer {
  position: fixed;
  top: 52vh;
  left: 0px;
  padding-top: 34px;
  padding-bottom: 34px;
  height: calc(48vh - 68px);
  width: calc(100vw - 36px);
  padding-inline: 18px;
  background-color: $color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px;
  margin: 0px;
  animation: show 500ms cubic-bezier(0.13, 0.53, 0.38, 0.97) 1;
}

.footerTopContainer,
.footerMiddleContainer,
.footerBottomContainer {
  display: flex;
  width: 100%;
}

.footerTopContainer {
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.footerTitle {
  color: $background;
  font-weight: 900;
  font-size: 36px;
  line-height: 1;
}

.footerSubtitle {
  color: $background;
  opacity: 0.5;
  font-size: 18px;
  font-weight: 800;
}

.footerMiddleContainer {
  align-items: center;
  justify-content: center;
}

.footerBottomContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.footerButton {
  width: 100%;
  padding-block: 16px;
  background-color: $primary;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerButtonText,
.footerCancelText {
  color: $background;
  font-weight: 800;
  font-size: 16px;
  text-align: center;
}

@keyframes show {
  0% {
    top: 100vh;
  }

  100% {
    top: 52vh;
  }
}
