$primary: #aea9cb;
$secondary: #443e6f;
$accent: #533fd5;
$background: #0a0a0f;
$color: #e5e4ec;

.main {
  width: calc(100% - 32px);
  padding-inline: 16px;
  padding-top: 16px;
  padding-bottom: 35px;
  min-height: calc(100svh - 50px);
  height: fit-content;

  display: flex;
  flex-direction: column;
}

.titleContainer {
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.content {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-weight: 900;
  font-size: 28px;
}

.calendar {
  text-align: center;
}

abbr[title] {
  color: $accent;
}

.tile {
  background-color: transparent;
  border: 0px;
  padding: 10px;
  color: $color;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
}
