$primary: #aea9cb;
$secondary: #443e6f;
$accent: #533fd5;
$background: #0a0a0f;
$color: #e5e4ec;

.main {
  width: calc(100% - 32px);
  padding-inline: 16px;
  padding-top: 16px;
  padding-bottom: 34px;
  height: calc(100svh - 50px);
  overflow: hidden !important;

  display: flex;
  flex-direction: column;

  position: fixed;

  background: $color;
  background: linear-gradient(0deg, $color 5%, $accent 50%, $background 100%);
}

.topSection,
.bottomSection {
  display: flex;
}

.topSection {
  flex: 1;
  flex-direction: column;
}

.topContainer {
  width: calc(100% - 20px);
  margin-inline: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

.bottomSection {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
  gap: 10px;
  margin-bottom: 10px;
}

.buttonContainer {
  width: calc(33.33% - 7px);
  aspect-ratio: 1;

  border-radius: 12px;
  background: $accent;

  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonIcon {
  font-size: 36px;
}
