$primary: #aea9cb;
$secondary: #443e6f;
$accent: #533fd5;
$background: #0a0a0f;
$color: #e5e4ec;

.main {
  width: calc(100% - 32px);
  padding-inline: 16px;
  padding-top: 16px;
  padding-bottom: 34px;
  height: calc(100svh - 50px);
  overflow: hidden !important;

  display: flex;
  flex-direction: column;

  position: fixed;

  background: $color;
  background: linear-gradient(0deg, $color 5%, $accent 50%, $background 100%);
}

.topSection,
.bottomSection {
  display: flex;
}

.topSection {
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 24px;
}

.greetingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.accountImage {
  height: 48px;
  aspect-ratio: 1;
  border-radius: 100px;
  background-color: rgb(174, 169, 203);
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-weight: 800;
  font-size: 24px;
  opacity: 0.8;
}

.title {
  font-weight: 900;
  font-size: 42px;
  line-height: 1.2;
}

.bottomSection {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
  gap: 10px;
  margin-bottom: 10px;
}

.buttonContainer {
  width: calc(33.33% - 7px);
  aspect-ratio: 1;

  border-radius: 12px;
  background: $accent;

  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonIcon {
  font-size: 36px;
}

.skeletonText {
  width: 40vw;
  height: 36px;
  border-radius: 6px;
  background-color: $secondary;
  background-size: 200% 100%;
  margin-right: 6px;
}
