$primary: rgb(174, 169, 203);
$secondary: #443e6f;
$accent: #533fd5;
$background: #0a0a0f;
$color: #e5e4ec;

.main {
  width: calc(100% - 32px);
  padding-inline: 16px;
  padding-top: 16px;
  padding-bottom: 35px;
  min-height: calc(100svh - 50px);
  height: fit-content;
  overflow: hidden !important;
  position: fixed;

  display: flex;
  flex-direction: column;
}

.titleContainer {
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.leftTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.content {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 8px;
}

.bottomContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.button {
  width: calc(100% - 36px);
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  background-color: $accent;
  padding: 18px;
  padding-block: 16px;
  border-radius: 12px;
}

.buttonText {
  color: $color;
  font-weight: 800;
  font-size: 16px;
  text-align: center;
}

.accountContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-bottom: 28px;
  width: 100%;
}

.accountImageContainer {
  height: 80px;
}

.accountImage {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 100px;
  background-color: rgb(174, 169, 203);
}

.accountInfoContainer {
  display: flex;
  flex-direction: column;
}

.accountInfoText {
  font-size: 21px;
  font-weight: 900;
}

.accountInfoTextAlt {
  font-size: 18px;
  font-weight: 800;
  opacity: 0.5;
}

.setting {
  width: calc(100% - 36px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $color;
  padding: 18px;
  padding-block: 16px;
  border-radius: 8px;
}

.setting:nth-child(2) {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.setting:nth-last-child(1) {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.settingText {
  color: $background;
  font-weight: 800;
  font-size: 16px;
  text-align: center;
}

.select {
  background-color: transparent;
  border: none;
  outline: none;
  color: $accent;
  font-size: 18px;
  font-weight: 800;
  padding: 0px;
  margin: 0px;
  text-align: right;
}

.supportText {
  width: 100%;
  text-align: center;
  font-weight: 800;
  font-size: 14px;
}

.footer {
  position: fixed;
  top: 52vh;
  padding-top: 34px;
  padding-bottom: 34px;
  height: calc(48vh - 68px);
  width: calc(100% - 36px);
  padding-inline: 18px;
  background-color: $color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px;
  animation: show 500ms cubic-bezier(0.13, 0.53, 0.38, 0.97) 1;
}

.footerTopContainer,
.footerMiddleContainer,
.footerBottomContainer {
  display: flex;
  width: 100%;
}

.footerTopContainer {
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.footerTitle {
  color: $background;
  font-weight: 900;
  font-size: 36px;
  line-height: 1;
}

.footerSubtitle {
  color: $background;
  opacity: 0.5;
  font-size: 18px;
  font-weight: 800;
}

.footerMiddleContainer {
  align-items: center;
  justify-content: center;
}

.footerBottomContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.footerButton {
  width: 100%;
  padding-block: 16px;
  background-color: $primary;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerButtonText,
.footerCancelText {
  color: $background;
  font-weight: 800;
  font-size: 16px;
  text-align: center;
}

@keyframes show {
  0% {
    top: 100vh;
  }

  100% {
    top: 52vh;
  }
}

.explainText {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.8;
  opacity: 0.5;
}
