$primary: rgb(174, 169, 203);
$secondary: #443e6f;
$accent: #533fd5;
$background: #0a0a0f;
$color: #e5e4ec;

.main {
  width: calc(100% - 32px);
  padding-inline: 16px;
  padding-top: 16px;
  padding-bottom: 35px;
  min-height: calc(100svh - 50px);
  height: fit-content;
  overflow: hidden !important;
  position: fixed;

  display: flex;
  flex-direction: column;
}

.titleContainer {
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.content {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 12px;
}

.bottomContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.button {
  width: calc(100% - 36px);
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  background-color: $accent;
  padding: 18px;
  border-radius: 12px;
}

.buttonText {
  color: $color;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
}

.accountContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
  width: 100%;
}

.accountImageContainer {
  height: 90px;
}

.accountImage {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 100px;
}

.accountInfoContainer {
  display: flex;
  flex-direction: column;
}

.accountInfoText {
  font-size: 24px;
  font-weight: 900;
}

.accountInfoTextAlt {
  font-size: 21px;
  font-weight: 800;
  opacity: 0.5;
}

.setting {
  width: calc(100% - 36px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $color;
  padding: 18px;
  border-radius: 12px;
}

.settingText {
  color: $background;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
}

.select {
  background-color: transparent;
  border: none;
  outline: none;
  color: $accent;
  font-size: 18px;
  font-weight: 800;
  padding: 0px;
  margin: 0px;
  text-align: right;
}

.supportText {
  width: 100%;
  text-align: center;
  font-weight: 800;
  font-size: 16px;
}
