$primary: #aea9cb;
$secondary: #443e6f;
$accent: #533fd5;
$background: #0a0a0f;
$color: #e5e4ec;

.main {
  width: calc(100% - 32px);
  padding-inline: 16px;
  padding-top: 16px;
  padding-bottom: 35px;
  min-height: calc(100svh - 50px);
  height: fit-content;
  overflow: hidden !important;

  display: flex;
  flex-direction: column;
}

.titleContainer {
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.titleLeftContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.chipContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 12px;
}

.chip {
  border: 3.2px solid $color;
  padding-inline: 24px;
  padding-block: 12px;
  border-radius: 12px;
  color: $color;
}

.selectedChip {
  background-color: $color;
  color: $background;
}

.chipText {
  font-weight: 800;
  text-align: center;
}

.workersContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.worker {
  width: calc(100% - 36px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $color;
  padding: 18px;
  border-radius: 12px;
}

.workerTitle {
  color: $background;
  font-weight: 900;
  font-size: 18px;
  text-align: center;
}

.pendingWorker {
  width: calc(100% - 36px);
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: $color;
  padding: 18px;
  border-radius: 12px;
}

.pendingWorkerTopContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pendingWorkerBottomContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.pendingWorkerTitle {
  color: $background;
  font-weight: 900;
  font-size: 18px;
  text-align: center;
}

.pendingWorkerText {
  color: $background;
  font-weight: 800;
  opacity: 0.5;
  text-align: center;
}
